{% extends 'indexbase.html' %}

{% block body %}
<div class="main-content">
    <h1 class="mt-4">Deceased Form</h1>
    <form method="post" action="{% url 'deceased_form' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.full_name.id_for_label }}">Full Name</label>
            {{ form.full_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.age.id_for_label }}">Age</label>
            {{ form.age }}
        </div>

        <div class="form-group">
            <label for="{{ form.gender.id_for_label }}">Gender</label>
            {{ form.gender }}
        </div>

        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>

        <div class="form-group">
            <label for="{{ form.home_address.id_for_label }}">Home Address</label>
            {{ form.home_address }}
        </div>

        <div class="form-group">
            <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
            {{ form.date_of_birth }}
        </div>

        <div class="form-group">
            <label for="{{ form.date_of_death.id_for_label }}">Date of Death</label>
            {{ form.date_of_death }}
        </div>

        <div class="form-group">
            <label for="{{ form.cause_of_death.id_for_label }}">Cause of Death</label>
            {{ form.cause_of_death }}
        </div>

        <div class="form-group">
            <label for="{{ form.funeral_home_name.id_for_label }}">Funeral Home Name</label>
            {{ form.funeral_home_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.place_of_death.id_for_label }}">Place of Death</label>
            {{ form.place_of_death }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
