<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embalmer Record</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Embalmer Record</h1>
    <p><strong>Deceased Name:</strong> {{ embalmer.deceased.full_name }}</p>
    <p><strong>Embalmer:</strong> {{ embalmer.embalmer_name }}</p>
    <p><strong>Date of Embalming:</strong> {{ embalmer.date_of_embalming }}</p>
    <p><strong>Details:</strong></p>
    <p>{{ embalmer.details }}</p>
    
    
    <a href="{% url 'print_embalmer' embalmer.id %}" class="btn btn-secondary">Print Embalmer Record</a>
    <button onclick="window.print();">Print this record</button>
</body>
</html>
